<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - inmobiliaria AT</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<body>
    <header>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-custom border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inmobiliaria</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Contratos</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Contrato"
                                        asp-action="Editar">Crear contrato</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Contrato"
                                        asp-action="Detalle">Detalle</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Contrato"
                                        asp-action="Index">Lista de Contratos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Inmuebles</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Inmueble"
                                        asp-action="Disponibles">Inmuebles disponibles</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Inmueble"
                                        asp-action="ListaPorPropietario">Inmuebles por Propietario</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Inmueble"
                                        asp-action="Index">Listado de inmuebles</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Inmueble"
                                        asp-action="Editar">Nuevo Inmueble</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Inquilinos</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Inquilino"
                                        asp-action="Index">Lista de Inquilinos</a>
                                </li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Inquilino"
                                        asp-action="Editar">Nuevo Inquilino</a>
                                </li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Inquilino" asp-action="">otra
                                        opción</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Pagos</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Pago"
                                        asp-action="Index">Principal</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Pago" asp-action="Nuevo">Nuevo
                                        Pago</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Propietarios</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Propietario"
                                        asp-action="Index">Listado de Propietarios</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Propietario"
                                        asp-action="Editar">Nuevo Propietario</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Propietario" asp-action="">otra
                                        opción</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Usuarios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Usuario"
                                        asp-action="Index">Lista de Usuarios</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Usuario"
                                        asp-action="Crear">Nuevo Usuario</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="">otra
                                        opción</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Inmobiliaria AT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/tipoAgregar.js"></script>
    <script src="~/js/tipoModificar.js"></script>
    <script src="~/js/tipoEliminar.js"></script>

    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
