@model IEnumerable<inmobiliaria_AT.Models.Inmueble>
@{
    ViewData["Title"] = "Lista de Inmuebles";
    bool isAdmin = User.IsInRole("Administrador");
    bool IsEmple = User.IsInRole("Empleado");
}
<div class="text-center row mt-3 mb-3">
    <h1>Inmuebles</h1>
</div>

<div class="row mt-4 mb-3 align-items-center">
    <!-- Botón de Agregar -->
    @if (isAdmin || IsEmple)
    {
        <div class="col-md-1 mb-2">
            <button type="button" class="btn btn-light">
                <a href="/Inmueble/Editar" title="Agregar Inmueble" class="text-decoration-none">
                    <i class="fa-duotone fa-solid fa-plus"></i>
                </a>
            </button>
        </div>
    }
    <!-- Radio Buttons para Filtrar -->
    <div class="col-md-10 mb-2">
        <form id="filterForm" class="d-flex align-items-center">
            <div class="form-check me-3">
                <input class="form-check-input" type="radio" name="filter" id="todos" value="todos" checked>
                <label class="form-check-label" for="todos">Todos</label>
            </div>
            <div class="form-check me-3">
                <input class="form-check-input" type="radio" name="filter" id="disponible" value="disponible">
                <label class="form-check-label" for="disponible">Disponibles</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" id="noDisponible" value="noDisponible">
                <label class="form-check-label" for="noDisponible">No Disponibles</label>
            </div>
        </form>
    </div>
</div>

<div id="inmueblesTableContainer">
    @Html.Partial("_InmueblesIndexPartial", Model)
</div>
<div class="modal fade" id="modal_eliminar_inmueble" tabindex="-1" aria-labelledby="modal_eliminar_inmuebleLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_eliminar_inmuebleLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="Eliminar" id="form_eliminar_inmueble">
                <div class="modal-body">
                    <input type="hidden" name="Id" value="" id="inmueble_eliminar_id">
                    <p>Inmueble: <span id="inmueble_eliminar_tipo"></span> <span
                            id="inmueble_eliminar_direccion"></span> <span id="inmueble_eliminar_precio"></span>
                        <span id="inmueble_eliminar_propietario"></span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger"> Confirmar</i>

                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="modal fade" id="modal_success_message" tabindex="-1" aria-labelledby="modalSuccessMessageLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@TempData["SuccessMessage"]</p>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            // Muestro el modal de éxito si existe un mensaje en TempData
            if ($('#modal_success_message').length) {
                $('#modal_success_message').modal('show');
                // Oculto el modal después de 3 segundos
                setTimeout(function () {
                    $('#modal_success_message').modal('hide');
                }, 3000);
            }
        });

        function eliminar(id, tipo, direccion, precio, propietarioInmuebleNombreCompleto) {
            document.querySelector("#inmueble_eliminar_id").value = id;
            document.querySelector("#inmueble_eliminar_tipo").innerText = tipo + ", ";
            document.querySelector("#inmueble_eliminar_direccion").innerText = direccion;
            document.querySelector("#inmueble_eliminar_precio").innerHTML = "<br> Precio: " + precio;
            document.querySelector("#inmueble_eliminar_propietario").innerHTML = "<br> Propietario: " + propietarioInmuebleNombreCompleto;
            $("#modal_eliminar_inmueble").modal("show");
        }
    </script>

    <script>
        $(document).ready(function () {
            // cambio en los radio buttons
            $('input[name="filter"]').change(function () {
                var filtro = $(this).val();
                $.ajax({
                    url: '@Url.Action("ObtenerInmueblesTodos")', // Ruta del método ObtenerInmuebles
                    type: 'GET',
                    data: { filtro: filtro },
                    success: function (response) {
                        $('#inmueblesTableContainer').html(response);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error en la solicitud AJAX:', status, error);
                    }
                });
            });
        });
    </script>
}