@model IEnumerable<inmobiliaria_AT.Models.Contrato>
@{
    ViewData["Title"]= "Contratos";

}
<div class="text-center">
    <h1 class="display-4">Listado de contratos activos</h1>
</div>
<table class="table">
    <thead>
        <th>Id del Contrato</th>
        
    </thead>

</table>