@model inmobiliaria_AT.Models.Usuario

<div class="form-group col-md-6 form-group-spacing">
    <label asp-for="Avatar" class="control-label"></label><br />
    @if (!string.IsNullOrEmpty(Model.Avatar))
    {
        <div>
            <img src="@Model.Avatar" alt="Avatar" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
        </div>
        <div class="col-md-6">
            <form asp-action="EliminarAvatar" asp-route-id="@Model.Id" method="post" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm">Eliminar Avatar</button>
            </form>
        </div>
    }
    else
    {
        <p>Sin avatar</p>
    }
</div>
<div class="form-group col-md-6 form-group-spacing">
    <label asp-for="AvatarFile" class="control-label">Modificar Avatar</label>
    <input type="file" asp-for="AvatarFile" class="form-control" />
    <span asp-validation-for="AvatarFile" class="text-danger"></span>
</div>
