@* Views/Usuario/AccessDenied.cshtml *@
@{
    ViewData["Title"] = "Acceso Denegado";
}

@* <h1>Acceso Denegado</h1> *@
@* <p>No tiene permiso para acceder a esta página.</p> *@
<img src="~/error-403-forbbiden.png" alt="acceso denegado" class="img-fluid" style="width: 100%; height: auto;">